[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
betterproto = {path = "./ext/python-betterproto", extras="compiler"}
black = "*"
isort = "*"
flake8 = "*"
nodeenv = "*"
pytest = "*"
pytest-cov = "*"
pre-commit = "*"
pytest-asyncio = "*"

[packages]
grpclib = "*"
betterproto = {path = "./ext/python-betterproto"}

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[scripts]
pyright = "node node_modules/pyright"
pre-commit-check = "pre-commit run --all-files"
pytest = "python -u -m pytest"
pytest-cov = "python -m pytest --cov"
pkg = "python -m protoflux"
protoc = "protoc -I ./proto/ --python_betterproto_out=lib" # takes input file as a parameter
